<div class="card-header">
     <%= imagepost.title %> &nbsp; <%= imagepost.created_at %>
</div>
<div class="card-body">
<div id="<%= dom_id imagepost %>">
 
    <%= image_tag imagepost.image ,class:"img-thumbnail",style:"width:300px;height:300px;"%>
  
</div>
</div>
<br/><br/>