<div id="<%= dom_id imagepost %>">
 
  <p>
    <strong>Title:</strong>
    <%= imagepost.title %>
    <%= image_tag imagepost.image ,class:"img-thumbnail",style:"width:300px;height:300px;"%>
  </p>

</div>
