<h1>Editing imagepost</h1>

<%= render "form", imagepost: @imagepost %>

<br>

<div>
  <%= link_to "Show this imagepost", @imagepost %> |
  <%= link_to "Back to imageposts", imageposts_path %>
</div>
