<%if user_signed_in? %>
<a href="#">Hi , <%= current_user.email%></a>
<%end%>

<br/><br/>
<div class="card">
   <div class="card-body">
    <h1>Imageposts</h1>
    
   
   <form class="d-flex" action="/search">
   <%= link_to "New imagepost", new_imagepost_path ,class:"btn btn-dark"%>
   &nbsp;&nbsp;
   
      <input class="form-control " name="q" type="search" placeholder="Search" style="width:300px;float: left;">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
</div>


<br/><br/>
<div class="card">
 <div class="card-body">
 <div id="imageposts">
  <% @imageposts.each do |imagepost| %>
   <div class="clm">
    <%= render imagepost %>
    <p>
      <%= link_to "Show this imagepost", imagepost ,class:"btn btn-dark btn-sm"%>
    </p>
    </div>
  <% end %>
 </div>
</div>
</div>